.option{
    display: inline-block;
  }
  .toggle{
      width:30px;
      height:15px;
      background-color:#4c74ff;
      display: inline-block;
      position: relative;
      border-radius:25px;
      padding:5px;
      padding-top:3px;
      padding-bottom:3px;
      left:2px;
      cursor:pointer;
      box-shadow: 1px 1px 1px #ccc;
  
}
  .toggle:hover{
      background: #345ce6;
  }
.toggle-circle{
  width:15px;
  height:15px;
  background: #ffffff;
  border-radius: 25px;
  position: absolute;
  left:5px;
  transition:left .2s linear;

}
.toggle-container{
    width:auto;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
  .kg{
      float: right;
  }
  .lb{
      float:left;
      font-weight: bold;
  }
.toggle-button-list{
    list-style: none;
    margin:0;
    padding:0;
}
  .lb{
      float:left;
  }
  .clicked{
  left: 25px;
}
